---
import '@/styles/global.css';
import Main from '@/layouts/main.astro';

import Blogpost6 from '@/components/blogposts/Blogpost6';

---

<Main content={{ title: "Astro + TailwindCSS" }}>
<Blogpost6

></Blogpost6>

</Main> 